.row.hebi-block-main
    .col-md-2
        img(src='car.url')
    .col-md-8
        p ID #{car.id}
        p 名称 #{car.name}
        p 车牌号 #{car.number}
        p 价格 #{car.price}
        p 描述 #{car.desc}
    .col-md-2
        a.btn.btn-primary(href='/cars/'+car._id+'/edit') 编辑
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger(type='submit') 删除