.row.hebi-block-main
    .col-md-2
        a(href='/cars/'+car.id)
          img(src='/find'+car.image+'/128x128')
    .col-md-8
        p ID #{car.id}
        p 名称 #{car.name}
        p 车牌号 #{car.number}
        p 价格 #{car.price}
        p 描述 #{car.desc}
    .col-md-2
        form(action='/cars/'+car._id, method='post', onsubmit="return confirm('将会删除该车，确定吗？')")
            input(type='hidden', name='_csrf', value='#{csrf_token}')
            a.btn.btn-primary(href='/cars/'+car._id+'/edit') 编辑
            input(type='hidden', name='_method', value='DELETE')
            button.btn.btn-danger(type='submit') 删除
