article.item
  - var img = (car.image === '')? '/img/2.jpeg' : car.image
  a(href)
    img(src=img)
  .title
    a(href='/cars/'+car._id)
      h3= car.name
      p= car.desc
  .price
    span.now= "￥"+ car.price
    span.old= "￥" + car.old_price
    span.seller 公司:
      a(href='/sellers/'+car.seller._id)= car.seller.name
  .rating
    span.sold= "已售:" + car.sold
    span.rating= "评价"
  .available
    span 可用时间
