extends ../layouts/default

block main

block content
  .row.mg-20.pd-20.bg-white
    .col-md-offset-0.col-md-3
      - if (!car.isNew && car.image)
        img(src=car.image.url256x256)
    .col-md-4.mg-l-20
      h1= car.name
      p 价格: #{car.price}
      p 拥有者: &nbsp;
        a(href='/sellers/'+car.seller._id)= car.seller.name
      p= formatDate(car.createdAt, "%b %d, %Y at %I:%M %p")

      - if (user && user.type == 'Seller' && user._id.toString() == car.seller._id.toString())
        //TODO complete this 2 function
        form(action='/cars/'+car._id, method='post', onsubmit="return confirm('将会删除该车，确定吗？')")
          input(type='hidden', name='_csrf', value='#{csrf_token}')
          a.btn.btn-primary(href='/cars/'+car._id+'/edit') 编辑
          &nbsp;
          //TODO 1. how it works; 2. can delete work?
          input(type='hidden', name='_method', value='DELETE')
          button.btn.btn-danger(type='submit') 删除
      - else
        a.btn.btn-warning(href='/cars/'+car._id+'/order') 预定

  .row.mg-20.pd-20.bg-white
    ul.nav.nav-tabs
      li.active
        a(href='#detail' data-toggle='tab') 汽车详情
      li
        a(href='#record' data-toggle='tab') 交易记录
      li
        a(href='#rating' data-toggle='tab') 用户评价
    .tab-content
      .tab-pane.active#detail
        div= car.detail
      .tab-pane#record
        - if (car.orders.length)
          - each order in car.orders
            p= order
        - else
          p 当前还没有订单，做第一个吧～
      .tab-pane#rating
        - if (car.ratings && car.ratings.length)
          - each rating in car.ratings
            p= rating
        - else
          p 还没有用户评价过此车
